.logo, p, ul li {
	font-family: 'Avenir', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

p {
  font-weight: normal;
}

a:hover, a:hover span {
  color: black;
}